In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('../Data/FuentesOriginales/Kaggle/InternationalMigrationData20002020/migration_2017.csv')
df.head(10)

,Country,Acquisition of nationality by country of former nationality(Total),Acquisition of nationality by country of former nationality(Women),Inflows of asylum seekers by nationality(Total),Inflows of foreign population by nationality(Total),Inflows of foreign population by nationality(Women),Inflows of foreign workers by nationality(Total),Inflows of foreign workers by nationality(Women),Outflows of foreign population by nationality(Total),Outflows of foreign population by nationality(Women),Stock of foreign population by nationality(Total),Stock of foreign population by nationality(Women),Stock of foreign-born population by country of birth(Total),Stock of foreign-born population by country of birth(Women)
0,Australia,137750.0,70487.0,36245.0,224220.0,118285.0,56813.0,18933.0,NaN,NaN,NaN,NaN,7139440.0,3646110.0
1,Austria,9125.0,4835.0,22470.0,139329.0,64435.0,33347.0,13236.0,89556.0,37558.0,1341930.0,650924.0,1656266.0,842232.0
2,Belgium,37401.0,18663.0,14055.0,109515.0,52466.0,7263.0,NaN,48277.0,21901.0,1366500.0,666377.0,1893433.0,963637.0
3,Canada,105813.0,55143.0,49425.0,286485.0,146360.0,300745000.0,112575000.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Chile,2976.0,NaN,5656.0,207200.0,NaN,220274.0,NaN,NaN,NaN,952711.0,NaN,746435.0,NaN
5,Czech Republic,6440.0,NaN,1140.0,43527.0,17990.0,NaN,NaN,14428.0,5867.0,493441.0,215496.0,NaN,NaN
6,Denmark,7272.0,4266.0,3140.0,49046.0,23504.0,NaN,NaN,41532.0,19612.0,484986.0,238809.0,570581.0,284984.0
7,Estonia,882.0,470.0,180.0,9067.0,3306.0,2770.0,323.0,4344.0,1668.0,212213.0,101963.0,192535.0,112191.0
8,Finland,12219.0,6375.0,4350.0,23735.0,10419.0,NaN,NaN,6806.0,3077.0,243639.0,112340.0,357541.0,173990.0
9,France,114274.0,58676.0,91965.0,245902.0,121179.0,45845.0,16349.0,NaN,NaN,4704000.0,2267149.0,8106857.0,4193998.0

In [23]:
stock_by_nationality = df['Stock of foreign population by nationality(Total)'].values
stock_by_nationality

array([      nan,  1341930.,  1366500.,       nan,   952711.,   493441.,
         484986.,   212213.,   243639.,  4704000., 10039080.,   538400.,
         151132.,    30275.,   566600.,       nan,  5047028.,  2382822.,
        1161677.,   279446.,   281497.,   381770.,   972300.,       nan,
         559227.,   210328.,   397731.,    69695.,   114438.,  4419455.,
         851949.,  2029527.,   816410.,  6137000., 22415312.])

# Detectar valores faltantes

In [ ]:
df.isnull().sum()

Country                                                                0
Acquisition of nationality by country of former nationality(Total)     2
Acquisition of nationality by country of former nationality(Women)     8
Inflows of asylum seekers by nationality(Total)                        0
Inflows of foreign population by nationality(Total)                    0
Inflows of foreign population by nationality(Women)                    3
Inflows of foreign workers by nationality(Total)                      12
Inflows of foreign workers by nationality(Women)                      17
Outflows of foreign population by nationality(Total)                  10
Outflows of foreign population by nationality(Women)                  13
Stock of foreign population by nationality(Total)                      4
Stock of foreign population by nationality(Women)                      8
Stock of foreign-born population by country of birth(Total)           10
Stock of foreign-born population by country of birth(Women)           13
dtype: int64

## propuesta: eliminar columnas por sexo, y quedarnos con totales. suprimir columnas 2,5,7,9,11 y 13
## sustituir nan en resto

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 14 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Country                                                             35 non-null     object
 1   Acquisition of nationality by country of former nationality(Total)  33 non-null     float64
 2   Acquisition of nationality by country of former nationality(Women)  27 non-null     float64
 3   Inflows of asylum seekers by nationality(Total)                     35 non-null     float64
 4   Inflows of foreign population by nationality(Total)                 35 non-null     float64
 5   Inflows of foreign population by nationality(Women)                 32 non-null     float64
 6   Inflows of foreign workers by nationality(Total)                    23 non-null     float64
 7   Inflows of foreign workers by nationality(Women)                    18 non-null     float64
 8   Outflows of foreign population by nationality(Total)                25 non-null     float64
 9   Outflows of foreign population by nationality(Women)                22 non-null     float64
 10  Stock of foreign population by nationality(Total)                   31 non-null     float64
 11  Stock of foreign population by nationality(Women)                   27 non-null     float64
 12  Stock of foreign-born population by country of birth(Total)         25 non-null     float64
 13  Stock of foreign-born population by country of birth(Women)         22 non-null     float64
dtypes: float64(13), object(1)
memory usage: 4.0+ KB

# imputar valores faltantes. conservamos original. buscamos media, mediana ... para ver con qu√© los sustituimos

In [22]:
df2 = df.copy()

## columna stock_by_nationality y sotck_by_birth

In [24]:
mean = df2['Stock of foreign population by nationality(Total)'].mean()
median = df2['Stock of foreign population by nationality(Total)'].median()
print(f"mean: {mean}")
print(f"median: {median}")

mean: 2246855.4516129033
median: 566600.0

In [25]:
mean = df2['Stock of foreign-born population by country of birth(Total)'].mean()
median = df2['Stock of foreign-born population by country of birth(Total)'].median()
print(f"mean: {mean}")
print(f"median: {median}")

mean: 4441591.44
median: 1784497.0