In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Población

In [4]:
df = pd.read_csv('../../Data/FuentesOriginales/MADRID/Madrid_en_cifras_2021A.csv')
df.head()

  El municipio en cifras
0              Poblacion
1   Año;Periodos;Madrid;
2    1987;Anual;3100507;
3    1988;Anual;3102846;
4    1989;Anual;3108463;

In [6]:
df.info

<bound method DataFrame.info of    El municipio en cifras
0               Poblacion
1    Año;Periodos;Madrid;
2     1987;Anual;3100507;
3     1988;Anual;3102846;
4     1989;Anual;3108463;
5     1990;Anual;3120733;
6     1991;Anual;3010492;
7     1992;Anual;3017439;
8     1993;Anual;3037977;
9     1994;Anual;3041101;
10    1995;Anual;3029734;
11    1996;Anual;2866850;
12    1997;Anual;2882971;
13    1998;Anual;2899091;
14    1999;Anual;2905136;
15    2000;Anual;2903903;
16    2001;Anual;2982926;
17    2002;Anual;3043535;
18    2003;Anual;3124892;
19    2004;Anual;3162304;
20    2005;Anual;3167424;
21    2006;Anual;3205334;
22    2007;Anual;3187062;
23    2008;Anual;3238208;
24    2009;Anual;3273006;
25    2010;Anual;3284110;
26    2011;Anual;3269861;
27    2012;Anual;3237937;
28    2013;Anual;3215633;
29    2014;Anual;3166130;
30    2015;Anual;3141991;
31    2016;Anual;3165883;
32    2017;Anual;3182175;
33    2018;Anual;3221824;
34    2019;Anual;3266126;
35    2020;Anual;3334730;
36    2021;Anual;3312310;
37    2022;Anual;3286662;>

In [7]:
df.describe

<bound method NDFrame.describe of    El municipio en cifras
0               Poblacion
1    Año;Periodos;Madrid;
2     1987;Anual;3100507;
3     1988;Anual;3102846;
4     1989;Anual;3108463;
5     1990;Anual;3120733;
6     1991;Anual;3010492;
7     1992;Anual;3017439;
8     1993;Anual;3037977;
9     1994;Anual;3041101;
10    1995;Anual;3029734;
11    1996;Anual;2866850;
12    1997;Anual;2882971;
13    1998;Anual;2899091;
14    1999;Anual;2905136;
15    2000;Anual;2903903;
16    2001;Anual;2982926;
17    2002;Anual;3043535;
18    2003;Anual;3124892;
19    2004;Anual;3162304;
20    2005;Anual;3167424;
21    2006;Anual;3205334;
22    2007;Anual;3187062;
23    2008;Anual;3238208;
24    2009;Anual;3273006;
25    2010;Anual;3284110;
26    2011;Anual;3269861;
27    2012;Anual;3237937;
28    2013;Anual;3215633;
29    2014;Anual;3166130;
30    2015;Anual;3141991;
31    2016;Anual;3165883;
32    2017;Anual;3182175;
33    2018;Anual;3221824;
34    2019;Anual;3266126;
35    2020;Anual;3334730;
36    2021;Anual;3312310;
37    2022;Anual;3286662;>

In [8]:
df.dtypes

El municipio en cifras    object
dtype: object

In [9]:
df.columns

Index(['El municipio en cifras'], dtype='object')

In [13]:
df['Poblacion'].plot()

KeyError: 'Poblacion'