In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Poblaci√≥n de los municipios de la Comunidad de Madrid

In [2]:
df = pd.read_csv('../../Data/FuentesOriginales/MADRID/Madrid_en_cifras_2021B.csv')
df.head()

                              El municipio en cifras
0  Poblacion de los municipios de la Comunidad de...
1                                 Periodo;Anual;2021
2   Orden;Cod. Territorio;Territorio;Poblacion total
3                           1;28079;Madrid;3.312.310
4                           2;28092;Mostoles;209.639

In [4]:
df.tail

<bound method NDFrame.tail of                                 El municipio en cifras
0    Poblacion de los municipios de la Comunidad de...
1                                   Periodo;Anual;2021
2     Orden;Cod. Territorio;Territorio;Poblacion total
3                             1;28079;Madrid;3.312.310
4                             2;28092;Mostoles;209.639
..                                                 ...
177                   175;28118;Puebla de la Sierra;75
178                          176;28069;Hiruela (La);72
179                            177;28126;Robregordo;71
180                              178;28078;Madarcos;57
181                          179;28001;Acebeda (La);55

[182 rows x 1 columns]>

In [5]:
df.describe

<bound method NDFrame.describe of                                 El municipio en cifras
0    Poblacion de los municipios de la Comunidad de...
1                                   Periodo;Anual;2021
2     Orden;Cod. Territorio;Territorio;Poblacion total
3                             1;28079;Madrid;3.312.310
4                             2;28092;Mostoles;209.639
..                                                 ...
177                   175;28118;Puebla de la Sierra;75
178                          176;28069;Hiruela (La);72
179                            177;28126;Robregordo;71
180                              178;28078;Madarcos;57
181                          179;28001;Acebeda (La);55

[182 rows x 1 columns]>